/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  /** Black Navigation & White Body Theme **/
  --ion-toolbar-background: #000000;
  --ion-toolbar-color: #ffffff;
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
  
  --ion-item-background: #ffffff;
  --ion-item-color: #000000;

  /* Primary color - Black */
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 0, 0, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #1a1a1a;
}

/* Force ion-item components to follow the theme */
ion-item {
  --background: var(--ion-item-background);
  --color: var(--ion-item-color);
}


/* Ensure all elements in toolbar use the toolbar color */
ion-toolbar {
  --color: var(--ion-toolbar-color);
  color: var(--ion-toolbar-color);
}

ion-toolbar ion-title,
ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button,
ion-toolbar ion-icon,
ion-toolbar ion-label,
ion-toolbar h1,
ion-toolbar h2,
ion-toolbar h3 {
  color: var(--ion-toolbar-color) !important;
}

.box {
  background-color: #6d8cf3;
  border-radius: 1px;

  margin: 1px;
}
.textheader {
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-text-color);
}
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

.input:focus {
  border-color: #000000;
  outline: none;
}
.ion-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
  background-color: var(--ion-item-background);
  color: var(--ion-item-color);
}

.ion-item label {
  width: fit;
  margin-right: 10px;
  font-size: 16px;
  color: var(--ion-text-color);
}

/* Ensure icons in the body follow text color */
ion-content ion-icon {
  color: var(--ion-text-color);
}

.ion-item .input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}


.container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  height: fit-content;
  width: 100%;
}
.button {
  color: white;
  padding: 0px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  background-color: var(--ion-color-primary); /* Use primary (black) */
}

/* Force specific ionic buttons to be black if they aren't picking it up */
ion-button {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

/* Ensure icons in buttons and fabs are white (contrast), ignoring the global rule */
/*ion-button ion-icon,
ion-fab-button ion-icon {
  color: var(--ion-color-primary-contrast) !important;
}*/


.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.GridLayout {
  display: grid;
  grid-template-columns: 49% 49%;
  width: 100%;
  grid-gap: 2%;
  padding: 20px;
}
.GridLayout div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ion-violation-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
